fastapi==0.110.1
uvicorn==0.29.0
pymongo==4.6.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart
pydantic[email]
langchain
langchain-community
google-generativeai
pypdf
langchain-google-genai
scikit-learn